@media(max-width: 600px) {
    #navbar {
        flex-direction: column;
        padding: 0.5vh 0.5vw;
    }
    #navbar #domaines {
        width: 95%;
    }
}

@media(min-width: 601px) {
    #navbar {
        flex-direction: row;
        justify-content: stretch;
        padding: 1.5vh 0.5vw;
    }
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorGreenLight);
    height: calc(var(--navbarHeight) - 3vh);
    font-size: 1em;
    width: 99vw;
}

#navbar #domaines {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1.2;
    justify-content: space-between;
    color: var(--colorGreenDark);
    font-size: 2em;
    font-weight: bold;
    text-shadow: var(--textShadowLittle);
}

#navbar #iconeAjouter {
    cursor: pointer;
    color: var(--colorTitle);
}

#titreSite {
    font-family: titleFont;
    font-size: 2em;
    font-weight: bold;
    text-shadow: var(--textShadowLittle);
    color: var(--colorTitle);
    flex-basis: 0;
    flex-grow: 1;
}

#searchBarContainer {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}